# Unreal Engine / Visual Studio
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
.vs/
.idea/

# Compiled / generated
*.dll
*.exe
*.pdb
*.obj
*.o
*.lib
*.a
*.exp
*.ilk
*.ipch

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Local / editor
*.log
*.user
*.user.*
*.sln.docstates
